*{
    margin: 0;
}    
.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Content_browser{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.title-home-div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.content .browser-home {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    width: 60%;
    flex-direction: column;
}

.content .search-section-home {
    display: flex;
    margin: 0 auto;
    width: 104%;
    font-family: 'Work Sans', sans-serif;
    flex-direction: column;
    align-items: center;
}
.content .search-div-home {
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    width: 100%;
    height: 40px;
}
.content .search-span-home{ 
    display: flex;
    justify-content: space-between;
}
.content .search-span-home .search-input-span input {
    margin-top: 7px;
    margin-left: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
}
.content .search-span-home .search-input-span {
    display: flex;
    align-items: center;
    width: 100%;
}
.search-input-span .search-icon img {
    width: 30px;
    padding-top: 8px;
    padding-left: 14px;
}
.content .search-span-home .search-filter-span {
    margin-top: 10px;
    margin-right: 12px;
}
.content .search-span-home .search-filter-span a {
    font-size: 14px;
    color: #3366CC;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}
.content .search-button-home button {
    display: flex;
    justify-content: center;
    padding-top: 10px; /*quitar cuando este en mayor tamaño*/
    height: 40px;
    width: 120px;    ;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    background-color: #3366CC;
    border-radius: 30px;
    border: 0px;
    margin: 10px auto; /*quitar cuando este en mayor tamaño*/
}
.content .search-button-home a {
    text-decoration: none;
    color: white;
}
.content .filter-container {
    display: flex;
    width: 80%;
}

.content .filter-container span img {
    width: 20px;
}

.content .filter-container button {
    margin: 2%;
}

.formulario{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-content: center;
    width: 50%;
}

.formulario h6{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.drag-home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}

.drag-documents-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 50px 0px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
}

.drag-documents-div img {
    margin-bottom: 32px;
    width: 20%;
}

.drag-documents-div p,a {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.drag-documents-text-container {
    margin: 0 20px;
}

.drag-documents-div a {
    color: #3366CC;
}