*{
    margin: 0;
}    
.Content_home {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Content_browser{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.title-home-div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Content_home .navbar {
    width: 80%;
    border: 1px solid gray;
    border-radius: 50px;

}

 .Content_home .navbar form {
     width: 100%;
} 

.Content_home .navbar form input {
    border: none;
}

.Content_home .navbar span {
    width: 15%;
}  

.Content_home .navbar span img {
    width: 20%;
} 

.Content_home .filter-container {
    display: flex;
    width: 80%;
}

.Content_home .filter-container span img {
    width: 20px;
}

.Content_home .filter-container button {
    margin: 2%;
}

.formulario{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-content: center;
    width: 50%;
}

.formulario h6{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.drag-home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}

.drag-documents-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 50px 0px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
}

.drag-documents-div img {
    margin-bottom: 32px;
    width: 20%;
}

.drag-documents-div p,a {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.drag-documents-text-container {
    margin: 0 20px;
}

.drag-documents-div a {
    color: #3366CC;
}